@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
body {
  color: rgb(238, 238, 238);
  font-family: "Bai Jamjuree", bond, sans-serif;
  background: url(../multimedia/fondo.png);
  background-size: cover;
  overflow-x: hidden;
}

.full-heigth {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: #2d4059 2px;
}

/*No use utilities*/
#logo {
  font-family: "Comforter", cursive;
  color: rgba(255, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-weight: 700;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
}
a:hover {
  color: rgba(255, 0, 0, 0.5);
}

img {
  width: 100%;
}

.navbar {
  background: linear-gradient(rgb(7, 28, 68), rgb(7, 28, 68));
}
.navbar .nav-link {
  font-weight: 700px;
  text-transform: uppercase;
  color: white;
}
.navbar .nav-link:hover {
  color: rgba(255, 0, 0, 0.7);
}
.navbar .nav-link:active {
  color: rgba(255, 0, 0, 0.7);
}

footer {
  position: relative;
  bottom: 0;
  overflow-x: hidden;
}

/* CONTENTINDEX */
#contentindex {
  padding-left: 30px;
}

.blanco {
  color: #ffffff;
}

.text-brand {
  color: rgba(255, 0, 0, 0.5);
}

.btn {
  padding: 12px 28px;
  font-weight: 700;
  color: rgb(238, 238, 238);
}

.btn-brand {
  background-color: rgba(255, 0, 0, 0.4);
  border-color: rgba(255, 0, 0, 0.3);
}
.btn-brand:hover, .btn-brand focus {
  background-color: rgba(255, 0, 0, 0.5);
  border-color: rgba(255, 0, 0, 0.3);
}

.link-custom {
  font-weight: 700;
  position: relative;
  color: #ffffff;
}
.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgba(255, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.5s;
}
.link-custom:hover::after {
  width: 100%;
  color: #ffffff;
}

/* //CONTENTINDEX*/
/*CONTENTSOBREMI*/
#contentsobremi {
  padding-left: 30px;
  padding-right: 30px;
}

.iconboxabout {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: rgba(255, 0, 0, 0.3);
}

/*//CONTENTSOBREMI*/
/*CONTENTCONTACTO*/
#contentcontact {
  padding-left: 30px;
  padding-right: 30px;
}
#contentcontact .form-control {
  background-color: rgba(7, 28, 68, 0.5);
  border-color: rgba(7, 28, 68, 0.5);
  color: rgb(238, 238, 238);
}
#contentcontact .form-control::placeholder {
  color: rgba(255, 255, 255, 0.534);
}

/*//CONTENTCONTACTO*/
/*CONTENTSERVICES*/
#contentservices {
  padding-left: 30px;
  padding-right: 30px;
}

.bg-base {
  background-color: rgba(7, 28, 68, 0.4);
}

.shadow-effect {
  transition: all 0.5s;
}
.shadow-effect:hover {
  box-shadow: -5px 3px 5px 0px rgba(255, 0, 0, 0.4);
}

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: rgba(255, 0, 0, 0.3);
}

.servicios {
  padding-right: 50px;
}

/*CONTENTSERVICES*/
/*CONTENTRABAJOS*/
#contenttrabajos {
  padding-left: 30px;
  padding-right: 30px;
}

.card-custom .card-custom-image {
  overflow: hidden;
}
.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}
.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

/*//CONTENTTRABAJOS*/
@media (min-width: 992px) {
  body {
    overflow-x: hidden;
    background: url(../multimedia/fondo.png);
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .navbar {
    min-height: 100vh;
    width: 300px;
    background: linear-gradient(rgba(7, 28, 68, 0.4), rgba(7, 28, 68, 0.4));
  }
  #person {
    height: 250px;
    width: 180px;
  }
  .navbar-brand img {
    border: 5px solid rgba(255, 0, 0, 0.1);
    position: center;
  }
  /* CONTENT */
  #contentindex {
    padding-left: 350px;
  }
  #contentservices {
    padding-left: 350px;
  }
  #contenttrabajos {
    padding-left: 350px;
  }
  #contentsobremi {
    padding-left: 350px;
  }
  #contentcontact {
    padding-left: 350px;
  }
  footer {
    position: relative;
    left: 140px;
    bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
