@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

:root {
    --color-primary: #2d4059; /* Azul oscuro */
    --color-secondary: #ea5455; /* Rojo */
    --color-tertiary: #f7b801; /* Amarillo */
    --color-text: #ffffff; /* Negro */
    --color-background: rgba(0,57,71,255); /* Gris claro */
    --sidbar-width: 300px;
    --font-base: "Bai Jamjuree", bond;
}

body{
    color: var(--color-text);
    font-family: var(--font-base), sans-serif;
    background:url(../multimedia/fondo.png);
    background-size: cover;
    
}

.full-heigth{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom:#2d4059 2px;
}



/* CONTENTINDEX */

#contentindex{
    padding-left: 30px;
}


.text-brand{
    color: rgba(255, 0, 0, 0.5);
}

.btn {
    padding: 12px 28px;
    font-weight: 700;
    color: var(--color-text);
}

.btn-brand{
    background-color: rgba(255, 0, 0, 0.4);
    border-color: rgba(255, 0, 0, 0.3) ;
}

.btn-brand:hover,
.btn-brand:focus{
    background-color:rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.3) ;
}

.link-custom{
    font-weight: 700;
    position: relative;
    color: #ffffff;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.5s;
}

.link-custom:hover::after{
    width: 100%;
    color: #ffffff;
}

.blanco{
    color: #ffffff;
}

/* //CONTENTINDEX*/



/*CONTENTSERVICES*/
#contentservices{
    padding-left: 30px;
    padding-right: 30px;
}

.bg-base {
    background-color:rgba(7, 28, 68, 0.4);
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -5px 3px 5px 0px rgba(255, 0, 0, 0.4);
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: rgba(255, 0, 0, 0.3 );

}

.servicios{
    padding-right: 50px;
}

/*CONTENTSERVICES*/

/*CONTENTRABAJOS*/

#contenttrabajos{
    padding-left: 30px;
  
}

.card-custom .card-custom-image{
    overflow: hidden; 
}

.card-custom .card-custom-image img{
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}

/*//CONTENTTRABAJOS*/




/*NAVBAR*/

#logo{
    font-family: 'Comforter', cursive;
    color: rgba(255, 0, 0, 0.7);
}

h1,h2,h3,h4,h5,h6, p{
    color: white;
    font-weight: 700;
}

a{
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover{
    color: rgba(255, 0, 0, 0.5);
}

img{
    width:100%;
}


.navbar .nav-link{
    font-weight: 700px;
    text-transform: uppercase;
    color: white;
}

.navbar{
    background: linear-gradient(rgba(7, 28, 68, 1),rgba(7, 28, 68, 1));

}

.navbar .nav-link:hover{
    color: rgba(255, 0, 0, 0.7);

}

.navbar .nav-link.active {

  color: rgba(255, 0, 0, 0.7);

}



@media (min-width: 992px){
    
    body{
        overflow-x: hidden;
        background:url(../multimedia/fondo.png);
        background-size:cover;
    }

    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(7, 28, 68, 0.4),rgba(7, 28, 68, 0.4));

    }

    #person{
        height: 250px;
        width: 180px;
    }

    .navbar-brand img{
        border: 5px solid rgba(255, 0, 0, 0.1);
        position: center;

    }

    /* CONTENT */

    #contentindex{
        padding-left: 350px;
    }

    #contentservices{
        padding-left: 350px;
    }

    #contenttrabajos{
        padding-left: 350px;
    }
 
    
    /* //CONTENT*/

}

/*//NAVBAR*/


