/*CONTENTCONTACTO*/
#contentcontact{
    padding-left: 30px;
    padding-right: 30px;
    .form-control{
        background-color:rgba(7, 28, 68, 0.5);
        border-color:rgba(7, 28, 68, 0.5);
        color: $colorText;
        &::placeholder{
            color: rgba(255, 255, 255, 0.534);
          }
    }
}


/*//CONTENTCONTACTO*/