/* CONTENTINDEX */

#contentindex{
    padding-left: 30px;
}

.blanco{
    color: #ffffff;
}

.text-brand{
    display: inline-block;
    color: rgb(255, 0, 0);

}

h6{
font-size: 1.2rem;
}

.btn {
    padding: 12px 28px;
    font-weight: 700;
    color: $colorText;
}

.btn-brand{
    background-color: rgba(255, 0, 0, 0.4);
    border-color: rgba(255, 0, 0, 0.3) ;
    &:hover, focus{
        background-color:rgba(255, 0, 0, 0.5);
        border-color: rgba(255, 0, 0, 0.3) ;
    }

}

.link-custom{
    font-weight: 700;
    position: relative;
    color: #ffffff;
    &::after{
        content: "";
        width: 0%;
        height: 2px;
        background-color: rgba(255, 0, 0, 0.3);
        position: absolute;
        left: 0;
        top: 110%;
        transition: all 0.5s;
    }
    &:hover::after{
        width: 100%;
        color: #ffffff;
    }
}


/* //CONTENTINDEX*/
