@media (min-width: 992px){
    body{
        overflow-x: hidden;
        background:url(../multimedia/fondo.png);
        background-size:cover;
        width: 100%;
        height: 100%;
    }

    .navbar{
        min-height: 100vh;
        width: $sidbarWidth;
        background: linear-gradient($colorBackground,$colorBackground);

    }

    #person{
        height: 250px;
        width: 180px;
    }

    .navbar-brand img{
        border: 5px solid rgba(255, 0, 0, 0.1);
        position: center;
    }

    /* CONTENT */

    #contentindex{
        padding-left: 350px;
    }

    #contentservices{
        padding-left: 350px;
    }

    #contenttrabajos{
        padding-left: 350px;
    }

    #contentsobremi{
        padding-left: 350px;
    }

    #contentcontact{
        padding-left: 350px;
    }

    footer{
        position:relative;
        left: 140px;
        bottom: 0;

    }
}


