body{
    color: $colorText;
    font-family: $fontBase, sans-serif;
    background-image:url(../multimedia/fondo.webp);
    background-size: cover;
    overflow-x: hidden;
}

.full-heigth{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom:#2d4059 2px;
}