@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');


$color-primary: #2d4059;
$color-secondary: #ea5455;
$color-tertiary: #f7b801;
$color-text:#EEE;
$color-background: rgba(0,57,71,255);
$sidbar-width: 300px;
$font-base: "Bai Jamjuree", bond;
