@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');


$colorPrimary: rgba(255, 0, 0, 0.5);
$colorText:rgb(238, 238, 238);
$colorBackground: rgba(7, 28, 68, 0.349);
$sidbarWidth: 300px;
$fontBase: "Bai Jamjuree", bond;
$navColor: rgba(255, 0, 0, 0.7);